<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        span{
            color: red;
        }
    </style>
</head>
<body>

<form method="post" action="/user/register">
    {% csrf_token %}
    <div>
        用户名：<input type="text" name="username"><span>{{ name_error }}</span>
    </div>
    <div>
        密码：<input type="password" name="password"><span>{{ pwd_error }}</span>
    </div>

    <input type="submit" value="注册">
</form>

</body>
</html>